# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
# sphinx_rtd_theme
albumentations==1.1.0
attrs==21.4.0
matplotlib==3.5.1
opencv-python==4.5.5.62
rasterio==1.2.10
recommonmark==0.7.1
scikit-image==0.19.2
scikit-learn==1.0.2
sphinx==4.4.0
sphinx_rtd_theme==1.0.0
tensorflow==2.8.0
tifffile==2022.2.9
tqdm==4.62.3
